@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?ctz9jr');
  src:  url('icomoon.eot?ctz9jr#iefix') format('embedded-opentype'),
    url('icomoon.ttf?ctz9jr') format('truetype'),
    url('icomoon.woff?ctz9jr') format('woff'),
    url('icomoon.svg?ctz9jr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Group-82 .path1:before {
  content: "\e900";
  color: rgb(237, 135, 24);
}
.icon-Group-82 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-82 .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-82 .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-83 .path1:before {
  content: "\e904";
  color: rgb(237, 135, 24);
}
.icon-Group-83 .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(237, 135, 24);
}
.icon-Group-83 .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-83 .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-83 .path5:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-83 .path6:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-83 .path7:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-83 .path8:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-83 .path9:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-83 .path10:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-106:before {
  content: "\e90f";
  color: #fff;
}
.icon-Group-146:before {
  content: "\e910";
  color: #fff;
}
.icon-Group-223 .path1:before {
  content: "\e911";
  color: rgb(237, 135, 24);
}
.icon-Group-223 .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Icon-awesome-building:before,
.icon-assets-module:before {
  content: "\e913";
  color: #ebebeb;
}
.icon-Icon-awesome-dropbox:before,
.icon-stock-module:before {
  content: "\e914";
  color: #ebebeb;
}
.icon-Icon-awesome-money-bill:before,
.icon-loan-module:before {
  content: "\e915";
  color: #ebebeb;
}
.icon-Icon-awesome-save:before {
  content: "\e916";
  color: #fff;
}
.icon-Icon-awesome-tags:before {
  content: "\e917";
  color: #ebebeb;
}
.icon-Icon-awesome-user-friends:before,
.icon-hr-module:before {
  content: "\e918";
  color: #ebebeb;
}
.icon-Icon-ionic-ios-help-buoy:before,
.icon-support-module:before {
  content: "\e91e";
  color: #ebebeb;
}
.icon-Icon-ionic-ios-refresh:before {
  content: "\e91f";
  color: #fff;
}
.icon-Icon-ionic-md-star-outline:before,
.icon-quality-module:before{
  content: "\e920";
  color: #ebebeb;
}
.icon-Icon-ionic-md-wallet:before,
.icon-buying-module:before {
  content: "\e921";
  color: #ebebeb;
}
.icon-Icon-material-confirmation-number:before,
.icon-crm-module:before {
  content: "\e922";
  color: #ebebeb;
}
.icon-Icon-material-monetization-on:before,
.icon-accounting-module:before {
  content: "\e924";
  color: #ebebeb;
}
.icon-Icon-metro-calendar:before {
  content: "\e926";
  color: #ed8718;
}
.icon-Icon-metro-flow-tree:before {
  content: "\e927";
  color: #ebebeb;
}
.icon-Icon-open-account-logout:before {
  content: "\e928";
  color: #ebebeb;
}
.icon-Icon-open-browser:before,
.icon-selling-module:before,
.icon-website-module:before,
.icon-getting-started-module:before,
.icon-integrations-module:before,
.icon-customization-module:before,
.icon-users-and-permissions-module:before,
.icon-automation-module:before,
.icon-tools-module:before,
.icon-settings-module:before{
  content: "\e929";
  color: #ebebeb;
}
.icon-Icon-open-project:before,
.icon-projects-module:before {
  content: "\e92a";
  color: #ebebeb;
}
.icon-Path-9:before {
  content: "\e931";
  color: #ebebeb;
}
.icon-home-module:before {
  content: "\e90e";
  color: #ebebeb;
}
.icon-payroll-module:before {
  content: "\e93f";
  color: #ebebeb;

}
